@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}


/* Header styles*/
.header {
  display: flex;
  background-color: #1F2937;
  color: white;
  padding: 8px;
 }

.logo {
  display: flex;
  justify-content: flex-start;
  align-self: center;
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
  flex-shrink: 0;
  margin-left: 100px;
}
  

.links{
  list-style-type: none;
  display: flex;
  gap: 20px;
  flex: 1;
  justify-content: flex-end;
  font-size: 18px;
  color: #e5e7eb;
  flex-shrink: 1;
  margin-right: 100px;
}

/* Hero main styles*/
.hero{
  display: flex;
  background-color: #1F2937;
  padding: 8px;
  flex: 1;
  gap: 25px;
}

.herotext{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: center;
  margin-left: 100px;
  gap: 10px;
  width: 525px;
  height: 300px;
  margin-top: 100px;
}

.herotitle{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
}

.heroimage{
  margin-top: 100px;
  display: flex;
  justify-content: flex-end;
  margin-right: 100px;
  flex: 1;
  border-radius: 25px;
}

.herosub{
  color: #e5e7eb;
  font-size: 18px;
}

.signhero{
  width: 120px;
  height: 35px;
  background-color: #3882f6;
  color: #F9FAF8;
  border-radius: 10px;
  border: 0px;
  font-weight: bolder;
}

/*Card section styles*/
.secondsection{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 125px;
}

.secondtitle{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin-bottom: 70px;
  margin-top: 60px;
}

.cardrows{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap ;
  gap: 50px;
}

.card {
  display: flex;
  flex-shrink: 0;
  border: 5px solid #3882f6;
  border-radius: 20px;
  width: 170px;
  height: 170px;
}

.bigcard {
  width: 240px;
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

}

.cardtext{
  color: #676768;
  font-size: 18px;
  text-align: center;
}

/*Quote styles*/

.quote {
  background-color: #e5e7eb;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.quotecontainer{
  width: 800px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 135px;
  margin-bottom: 100px;
}
.quotetext{
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.quotename{
  align-self: flex-end;
  font-weight: bold;
  font-size: 26px;
}

/* Call to action */
.calltoaction {
  display: flex;
  justify-content: center;
}


.callbox {
  display: flex;
  width: 1024px;
  height: 155px;
  margin-top: 100px;
  margin-bottom: 100px;
  background-color: #3882f6;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
}

.callinfo{
  margin-left:125px;
}

.calltitle {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

.calltext {
  color: #fff;
  font-size: 18px;
}

.callbutton{
  width: 120px;
  height: 35px;
  background-color: #3882f6;
  color: #fff;
  border-radius: 10px;
  border-color: #fff;
  border-width: 3px;
  border-style: solid;
  font-weight: bolder;
  margin-right: 125px;
}


