body {
    margin: 0;
    font-family: "Roboto";
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {

    padding: 0px;
    display: flex;
    align-self: center;
    justify-content: center;
  }
  

.links{
    list-style-type: none;
    display: flex;
    gap: 16px;
    flex: 1;
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
    margin-left: auto;
    padding: 0;
  }


  